.linx-item-container {
  margin-top: 2pt;
  margin-right: 0in;
}

.linx-item {
  display: block;
  width: 100%;
  margin: 0in;
  border-bottom-style: dotted;
  border-width: 1pt;
}

.linx-item p {
  margin: 0in;
}